# SQL Querying

In [82]:
import csv, sqlite3

In [83]:
conn = sqlite3.connect('transactions.db')
cur = conn.cursor()
cur.execute("CREATE TABLE transactions (clnt_id INTEGER, bank_id INTEGER, acc_id INTEGER, txn_id INTEGER, txn_date TEXT, desc TEXT, amt REAL, cat TEXT, merchant TEXT)")

In [84]:
with open('data.csv', 'r') as f:
    dr = csv.DictReader(f)
    to_db = [(i['clnt_id'], i['bank_id'], i['acc_id'], i['txn_id'], i['txn_date'], i['desc'], i['amt'], i['cat'], i['merchant']) for i in dr]

cur.executemany("INSERT INTO transactions (clnt_id, bank_id, acc_id, txn_id, txn_date, desc, amt, cat, merchant) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)", to_db)
conn.commit()
conn.close()

In [64]:
def get_transactions_from_db(query):
    import pandas as pd
    import sqlite3
    
    # Connect to database
    conn = sqlite3.connect('transactions.db')
    
    try:
        # Execute query and return results as DataFrame
        df = pd.read_sql_query(query, conn)
        return df
    finally:
        # Ensure connection is closed
        conn.close()

In [71]:
get_transactions_from_db("SELECT * FROM transactions WHERE cat='Shops'")

,clnt_id,bank_id,acc_id,txn_id,txn_date,desc,amt,cat,merchant
0,6,1,1,54,31/07/2023 0:00,CLOC Advance,6.286,Shops,NA
1,6,1,1,27,31/07/2023 0:00,CLOC Advance,6.286,Shops,NA
2,6,1,1,11,01/08/2023 0:00,CLOC Advance,2.268,Shops,NA
3,28,1,1,108,25/07/2023 0:00,1INFINITELOOP@ 07/25 #68 PMNT RCVD 1INFINITELO...,59.100,Shops,1INFINITE
4,28,1,1,136,14/08/2023 0:00,1INFINITELOOP@ 08/14 #68 PMNT RCVD 1INFINITELO...,4.924,Shops,1INFINITE
...,...,...,...,...,...,...,...,...,...
7413,880,489,558,85911,03/07/2023 0:00,GOODYEAR ONLINE PMT 230630 3168 Maryse Hemant,-6.000,Shops,Goodyear
7414,880,489,558,174063,05/09/2023 0:00,PURCHASE AUTHORIZED ON 09/01 PlayStation Netwo...,-4.238,Shops,PlayStation Network
7415,880,487,556,70388,18/09/2023 0:00,PURCHASE AUTHORIZED ON 09/17 PlayStation Netwo...,-1.058,Shops,PlayStation Network
7416,880,487,556,125142,26/06/2023 0:00,RECURRING PAYMENT AUTHORIZED ON 06/25 PlayStat...,-2.542,Shops,PlayStation Network
7417,880,487,556,114650,24/07/2023 0:00,RECURRING PAYMENT AUTHORIZED ON 07/22 PlayStat...,-2.118,Shops,PlayStation Network

---

# **Query**: What is the amount I have spent on Uber in the last 5 months?

## 1. Get the required data

**Issues**:
1. 3866 unique merchants and 10000+ unique descriptions that cannot be fed into the model.

**Solution:**
1. Combining cleaned description and merchant and, vectorizing them.
2. Use similarity search with the query to get the initial subset of data needed.

In [73]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('transactions.db')
cur = conn.cursor()

In [84]:
query = "SELECT * FROM transactions WHERE merchant='Uber'"
data = pd.read_sql_query(query, conn)

In [85]:
data

,clnt_id,bank_id,acc_id,txn_id,txn_date,desc,amt,cat,merchant
0,880,380,427,60354,13/06/2023 0:00,Withdrawal MARSHALLS #1036 / OLD TROY PIKE HUB...,-20.204,Department Stores,Uber
1,507,1,1,97,22/06/2023 0:00,Zelle payment from ...,1.400,Travel,Uber
2,507,1,1,187,15/06/2023 0:00,Zelle payment from ...,1.400,Travel,Uber
3,507,1,2,193,03/07/2023 0:00,Zelle payment from ...,4.000,Travel,Uber
4,507,1,1,236,13/06/2023 0:00,Zelle payment from ...,1.400,Travel,Uber
...,...,...,...,...,...,...,...,...,...
580,880,851,982,158309,05/06/2023 0:00,FOREIGN EXCHANGE RATE ADJUSTMENT FEE 06/02UBER...,-0.058,Bank Fees,Uber
581,880,851,982,95126,02/06/2023 0:00,FOREIGN EXCHANGE RATE ADJUSTMENT FEE 06/01UBER...,-0.054,Bank Fees,Uber
582,880,851,982,48175,20/07/2023 0:00,FOREIGN EXCHANGE RATE ADJUSTMENT FEE 07/19UBER...,-0.066,Bank Fees,Uber
583,880,851,982,147904,07/08/2023 0:00,FOREIGN EXCHANGE RATE ADJUSTMENT FEE 08/04UBER...,-0.064,Bank Fees,Uber
584,880,270,305,151320,29/08/2023 0:00,OVERDRAFT FEE FOR A 12.55 CARD PURCHASE - DETA...,-6.800,Bank Fees,Uber

## 2. Vectorizing `description` and `merchant`

In [232]:
import pandas as pd
from sentence_transformers import SentenceTransformer
import numpy as np
import faiss

df = pd.read_csv("data.csv")
model = SentenceTransformer('all-MiniLM-L6-v2')

In [157]:
df.head()

,clnt_id,bank_id,acc_id,txn_id,txn_date,desc,amt,cat,merchant,desc_merchant_cat,cleaned_text
0,6,1,1,54,2023-07-31,CLOC Advance,6.286,Shops,,CLOC Advance Shops,cloc advance shops
1,6,1,1,27,2023-07-31,CLOC Advance,6.286,Shops,,CLOC Advance Shops,cloc advance shops
2,6,1,1,11,2023-08-01,CLOC Advance,2.268,Shops,,CLOC Advance Shops,cloc advance shops
3,28,1,1,108,2023-07-25,1INFINITELOOP@ 07/25 #68 PMNT RCVD 1INFINITELO...,59.100,Shops,1INFINITE,1INFINITELOOP@ 07/25 #68 PMNT RCVD 1INFINITELO...,infiniteloop pmnt rcvd infiniteloopapp ca i...
4,28,1,1,136,2023-08-14,1INFINITELOOP@ 08/14 #68 PMNT RCVD 1INFINITELO...,4.924,Shops,1INFINITE,1INFINITELOOP@ 08/14 #68 PMNT RCVD 1INFINITELO...,infiniteloop pmnt rcvd infiniteloopapp ca i...

In [233]:
from utils import clean_text
df['desc'] = df['desc'].fillna('')
df['merchant'] = df['merchant'].fillna('')
df['cat'] = df['cat'].fillna('')
df['txn_date'] = pd.to_datetime(df['txn_date'], dayfirst=True, errors='coerce')

df['desc_merchant_cat'] = df['desc'] + ' ' + df['merchant'] + ' ' + df['cat']

df['cleaned_text'] = df['desc_merchant_cat'].apply(clean_text)

unique_cleaned_text = df['cleaned_text'].unique()

In [147]:
# Vectorize description and merchant combined
embeddings = model.encode(unique_cleaned_text, show_progress_bar=True).astype('float32')

# Create a FAISS index
index = faiss.IndexFlatL2(embeddings.shape[1])    
index.add(embeddings)

index_to_desc = {i: desc for i, desc in enumerate(unique_cleaned_text)}

Batches: 100%|██████████| 1761/1761 [06:16<00:00,  4.68it/s]

In [148]:
faiss.write_index(index, "index.faiss")
np.save("embeddings.npy", embeddings)

In [234]:
def transaction_retrieval(query):
    query_vec = model.encode([clean_text(query)]).astype('float32')
    D, I = index.search(query_vec, 200)

    # Preserve order by keeping the list
    ordered_indices = I[0]
    ordered_texts = [index_to_desc[i] for i in ordered_indices]

    # Create a DataFrame using the indices directly (assuming you have a mapping from FAISS index to df index)
    ordered_df = df[df['cleaned_text'].isin(ordered_texts)]
    ordered_df = ordered_df.set_index('cleaned_text').loc[ordered_texts].reset_index()

    return ordered_texts, ordered_df

In [235]:
texts, df = transaction_retrieval("uber ride")

In [236]:
texts

['uber san francisco ca  uber travel',
 'uber   pmnt rcvd uber san francisco ca ckcd  uber travel',
 'marathon  huber heights oh uber convenience stores',
 'uber san francisco ca  uber payroll',
 'purchase  uber eleven helpubercomca  uber travel',
 'uber instantpay san francisco ca  uber payroll',
 'uber   pmnt rcvd uber san francisco ca uber payroll',
 'withdrawal target t   executive blvd huber heights oh  uber supermarkets and groceries',
 'withdrawal debit chip  raising canes  huber heights oh date   uber restaurants',
 'uber   pmnt rcvd uber san francisco ca ckcd  uber payroll',
 'scooters coffee  pleasant hill ia  restaurants',
 'journeys kidz a journeys clothing and accessories',
 'visa direct card uber travel',
 'uber   pmnt rcvd uber visa direct wi uber travel',
 'journeys clothing and accessories',
 'uber                  visa direct  us uber payroll',
 'journeys kidz journeys clothing and accessories',
 'pos debit      journeys  brooklyn  us journeys clothing and accessories',
 'walmart super centermobile al walmart supermarkets and groceries',
 'withdrawal marshalls   old troy pike huber heights oh  uber department stores',
 'money transfer authorized on  from uber ca p  uber payroll',
 'withdrawal journeys   premium outlets dr monroe oh  journeys clothing and accessories',
 'little road foo  supermarkets and groceries',
 'purchase authorized on  journeys kidz  amarillo p  journeys clothing and accessories',
 'cash appjose rubertad uber third party',
 'mobile purchase   scooters maryse hemantspring       tx   restaurants',
 'visa direct card uber payroll',
 'advance auto pa cleveland oh  advance auto shops',
 'journeys    purchase journeys  mcallen tx journeys clothing and accessories',
 'scooters coffee  restaurants',
 'money transfer authorized on  from uber ca p  uber travel',
 'purchase                                authorized on    journeys             albuquerque   nm  s     clothing and accessories',
 'walmart  mobile al walmart supermarkets and groceries',
 'oreilly auto   mobile purchase oreilly auto p arlington tx oreilly auto shops',
 'atm withdrawal scooters    gallaway st eau claire wius  atm',
 'alon dk   gateway el paso tx  alon convenience stores',
 'scooters coffee scooters coffee restaurants',
 'atm withdrawal machb n   dixie highway maryse hemantford oh  atm',
 'sonic drive in  phenix city al sonic restaurants',
 'zelle payment from                                          manraj lolita                                            for                                                         uber                                                     conf aafkjw uber travel',
 'purchase                                authorized on    journeys kidz            albuquerque       p     clothing and accessories',
 '   withdrwl el leon tire shop humble tx  transfer',
 'visa direct card uber instantpay uber payroll',
 'check  travel',
 'zelle payment from                                          manraj lolita                                            for                                                         uber                                                     conf aafyfn uber travel',
 'uber   pmnt rcvd uber visa direct wi uber payroll',
 'aldi via doordash supermarkets and groceries',
 'applecombill  ca  apple shops',
 'applecombill  ca                apple shops',
 'out of network atm  highway  s maryse hemant  uncategorized',
 'oreilly auto   mobile purchase oreilly auto par whittier ca oreilly auto shops',
 'from car vault  travel',
 'aldius aldi supermarkets and groceries',
 'aldi supermarkets and groceries',
 'visa direct card uber instantpay uber uncategorized',
 'autozone shops',
 'piggly wiggly hammond la   piggly wiggly supermarkets and groceries',
 'piggly wiggly hammond la  piggly wiggly supermarkets and groceries',
 'oreilly auto   purchase oreilly auto par renton wa oreilly auto shops',
 'aldi  tinley park tinley park il  aldi supermarkets and groceries',
 'cash appkelley car cash app third party',
 'paradise quicks paradise for families convenience stores',
 'pos debit      grand market apple valley ca apple valley supermarkets and groceries',
 'loves travel stop convenience stores',
 'weirdo rr  travel',
 'aldi    mobile purchase aldi  newman ga aldi supermarkets and groceries',
 'autozone   s brookpark oh  autozone shops',
 'applecombill apple shops',
 'amazon primetripcu amzncombill wa amazon digital entertainment',
 'from shero trucking l ach  uncategorized',
 'pos debit      chevronsmoke ranch en las vegas nv us  uncategorized',
 'aldi         philadelphia p aldi supermarkets and groceries',
 'sonic drive in  austin tx sonic restaurants',
 'sonic drive in austin tx sonic restaurants',
 'daves supermarket r euclid oh   supermarkets and groceries',
 'lavista road f   mobile purchase lavista road fo tucker ga lavista road f restaurants',
 'roblox shops',
 'loves  lost hills ca  loves travel stop convenience stores',
 'pos debit      walmart  apple valley  us walmart supermarkets and groceries',
 'pos deb    walmart   airport road rifle        co c  walmart supermarkets and groceries',
 'mobile purchase  hyvee d moines s des moines ia  hyvee supermarkets and groceries',
 'walmart  pos deb     greenway drive  uncategorized',
 'piggly wiggly   hardeeville  debit card purchasepin piggly wiggly supermarkets and groceries',
 'aldi  euclid oh  aldi supermarkets and groceries',
 'walmart  phenix city al walmart supermarkets and groceries',
 'speedy stop  speedy stop convenience stores',
 'pos debit      dunkin  q cleveland oh dunkin restaurants',
 'piggly wiggly   phenix city al piggly wiggly supermarkets and groceries',
 'debit card purchase  loves  moody al loves travel stop convenience stores',
 'pos debit      trader joe s  trade glen allen va us trader joes supermarkets and groceries',
 'daves supermarket sho euclid oh   supermarkets and groceries',
 'aldi    mobile purchase aldi  urbandale ia aldi supermarkets and groceries',
 'ok tire and auto  hopewellva  debit card purchase ok tire and auto service',
 'mobile purchase  safeway  cameron park ca  safeway supermarkets and groceries',
 'pos debit      firstenergyezpay  oh firstenergy utilities',
 'withdrawal shoprite island ave  s philadelphia pa    shoprite supermarkets and groceries',
 'scooters coffee  madison in   restaurants',
 'pos debit      kwik trip  friendship wi us kwik trip convenience stores',
 'super rons foo  county truck hipulaski        wius super rons f supermarkets and groceries',
 'firstenergyezpay ivr  oh firstenergy utilities',
 'aldi  phoenix az  aldi supermarkets and groceries',
 'debit purchase visa card scooters coffeesioux falls sd  restaurants',
 'walmart super                    i  walmart supermarkets and groceries',
 'sonic drive in  country club il  sonic restaurants',
 'loves travel stops loves travel stop convenience stores',
 'zelle payment from                                          manraj lolita                                            for                                                         uber                                                     conf aafrcn uber travel',
 'pos debit      trader joe s  trade las vegas nv us trader joes supermarkets and groceries',
 'collinwood village foo cleveland oh   supermarkets and groceries',
 'mobile purchase  route  nissan hasbrouck heinj   shops',
 'real time payment credit recd from abacontr bnk from bnfuber usa llc ref ptyjcwdssmgzw info text iid pbaaaa recd  trn gb uber payroll',
 'real time payment credit recd from abacontr bnk from bnfuber usa llc ref zriirjjlbkvv info text iid pbaaaa recd  noemie tera ga uber payroll',
 'point of sale withdrawal  highway  citgo   albertville    alus highway market convenience stores',
 'real time payment credit recd from abacontr bnk from bnfuber usa llc ref qwiwkqlzrdvv info text iid pbaaaa recd  noemie tera gd uber payroll',
 'bird ride httpsbirdco ca   uncategorized',
 'lavista road f   mobile purchase lavista road fo tucker ga lavista road restaurants',
 'sonic drive in   ga sonic restaurants',
 'loves  van tx usa loves travel stop convenience stores',
 'pos debit      roadrunner marke vail az us  uncategorized',
 'kwik trip  madison wi  kwik trip convenience stores',
 'uhaulchichester car cchichester uhaul service',
 'pos debit      kwiktrip monroe wi us kwik trip convenience stores',
 'cash app maryse hemant trgyengz maryse hemant griffith cash app third party',
 'autozone    purchase  aldine bende humble tx autozone shops',
 'real time payment credit recd from abacontr bnk from bnfuber usa llc ref qersizfveknev info text iid pbaaaa recd  trn ga uber payroll',
 'pos debit      jack in the box  apple valley ca  restaurants',
 'aaa  service',
 'real time payment credit recd from abacontr bnk from bnfuber usa llc ref nxrddpxraonkb info text iid pbaaaa recd  noemie tera ga uber payroll',
 'az lot safeway  phoenix az  safeway supermarkets and groceries',
 'aldi  chicago il aldi supermarkets and groceries',
 'piggly wiggly piggly wiggly supermarkets and groceries',
 'piggly wiggly   piggly wiggly supermarkets and groceries',
 'pos debit      loves  normal il loves travel stop convenience stores',
 'lavista road f   mobile purchase lavista road fo tucker ga lavista road furn restaurants',
 'real time payment credit recd from abacontr bnk from bnfuber usa llc ref lleqshqi info text iid pbaaaa recd  trn ge uber payroll',
 'mobile purchase  downtown organic market brooklyn ny  downtown liquor supermarkets and groceries',
 'withdrawal pos  lone star travel  highway us robstown tx card  lone star petroleum convenience stores',
 'mobile purchase  auto wash express ina tucson az  auto wash express service',
 'pos debit      staterbros  ap apple valley ca us apple valley supermarkets and groceries',
 'real time payment credit recd from abacontr bnk from bnfuber usa llc ref lfontofhbkm info text iid pbaaaa recd  noemie tera gb uber payroll',
 'trader joe s  trade brooklyn ny  trader joes supermarkets and groceries',
 'point of sale withdrawal  safeway  highway  bullhead cityazus safeway supermarkets and groceries',
 'pos debit     wa lot walmart  marysville wa walmart supermarkets and groceries',
 'uber visa direct wi uber payroll',
 'pos debit      autozone    n grand prairie tx us autozone shops',
 'in safe auto trucking  pa   uncategorized',
 'sonic drive in  lewisville tx sonic restaurants',
 'kwik trip       sheboygan      wius kwik trip convenience stores',
 'debit purchase card safeway  portland or safeway supermarkets and groceries',
 'sonic drive in  el paso tx  sonic restaurants',
 'debit purchase card safeway  astoria or safeway supermarkets and groceries',
 'pos debit      scooters coffee  appleton wi  restaurants',
 'debit card purchase  loves  moody al loves travel stop gas stations',
 'elliot park grocery  supermarkets and groceries',
 'mobile purchase  safeway  phoenix az  safeway supermarkets and groceries',
 'get go  curbside getgo convenience stores',
 'nachos truck  convenience stores',
 'aldi  circleville oh  aldi supermarkets and groceries',
 'zelle payment from                                          manraj lolita                                            for                                                         uber                                                     conf aafmlx uber travel',
 'autozone    mobile purchase  southway driv maryse hemantboro ga autozone shops',
 'aldi   deerfield be debit card purchasepin aldi supermarkets and groceries',
 'aldi  darien  il  aldi supermarkets and groceries',
 'zipco quadpay anywhe quadpay gas stations',
 'pos aldi supermarkets and groceries',
 'oreilly auto   mobile purchase oreilly auto par maryse hemantton il oreilly auto shops',
 'trader joe s  dallas tx  trader joes supermarkets and groceries',
 'walmart  alvin tx  walmart supermarkets and groceries',
 'quick stop convenience quick stop convenience stores',
 'scooters coffee  louisville ky   restaurants',
 'fast stop fast stop convenience stores',
 'applecombill  ca  apple digital entertainment',
 'sonic drive in arcadia la usa sonic restaurants',
 ' check purchase  sq journeys pla socorro nm   journeys kidz clothing and accessories',
 'aldi  sherman tx  aldi supermarkets and groceries',
 'withdrawal pos  wal walmart super  trion ga walmart supermarkets and groceries',
 'andys grocery chicago il   supermarkets and groceries',
 'autozone  los maryse hemantes ca  autozone shops',
 'withdrawal pos  wal walmart super  centre al walmart supermarkets and groceries',
 'aldi  allentown padate  withdrawal debit card check card aldi supermarkets and groceries',
 'real time payment credit recd from abacontr bnk from bnfuber usa llc ref ksonmecxkkoulr info text iid pbaaaa recd  trn ga uber payroll',
 'pos debit      safeway  tucson az safeway supermarkets and groceries',
 ' giant eagmaceohpreauthpmtgetgo advpay giant supermarkets and groceries',
 'check park to shop supermarkets and groceries',
 'aldi  hazelcrest il  aldi supermarkets and groceries',
 'pos debit      amazon primetos amzncombill wa amazon digital entertainment',
 'walmart  la mesa ca  walmart supermarkets and groceries',
 'mobile purchase  safeway  renton wa  safeway supermarkets and groceries',
 'purchase                                authorized on    safeway fuel          junction city or  s    safeway supermarkets and groceries',
 'mobile purchase  safeway  tucson az  safeway supermarkets and groceries',
 'mobile purchase  nnt truck  north arlingtnj  uncategorized',
 'pos debit      kwik trip  ashwaubenon wi us kwik trip convenience stores',
 'atm withdrawal minitman   alabama hwy  albertville    alus  atm',
 'pos debit      kwik trip   monroe wi kwik trip gas stations',
 'carmax shops',
 'amazon primetly amzncombill wa  amazon digital entertainment',
 'sonic drive in   maryse hemantial heig va  debit card purchase sonic restaurants',
 'zipco quadpay anywhe quadpay convenience stores',
 'zipco quadpay anywhe  quadpay convenience stores',
 'stop n drive stop n shop convenience stores',
 'atm withdrawal macnyjakxn   express drive islandia ny  atm',
 'pos debit      safeway  dale city va us safeway supermarkets and groceries']

---

## 3. Using vectors to search for the distinct values using `ChromaDB`

Using vector search to get the necessary set of distinct values in `merchant` column, sizing down the load to the LLM

In [237]:
import chromadb
import pandas as pd

In [262]:
dfc = pd.read_csv("data.csv")
dfc['merchant'] = dfc['merchant'].fillna('').apply(clean_text)
dfc['desc'] = dfc['desc'].fillna('').apply(clean_text)
dfc['merc_desc'] = dfc['merchant'] + ' ' + dfc['desc']

merc_desc = dfc['merc_desc'].unique()
merc_desc_embeddings = model.encode(merc_desc, show_progress_bar=True).astype('float32')

Batches: 100%|██████████| 1694/1694 [03:25<00:00,  8.26it/s]

In [263]:
np.save("merchant_description_embeddings.npy", merc_desc_embeddings)

In [265]:
def batch_add_to_chroma(collection, documents, embeddings, ids, batch_size=1000):
    for i in range(0, len(documents), batch_size):
        collection.add(
            documents=documents[i:i+batch_size],
            embeddings=embeddings[i:i+batch_size],
            ids=ids[i:i+batch_size]
        )

In [266]:
client = chromadb.Client()
merchant_description_collection = client.get_or_create_collection("merchant_description_embeddings")
batch_add_to_chroma(
    merchant_description_collection,
    merc_desc.tolist(),
    merc_desc_embeddings,
    [str(i) for i in range(len(merc_desc))]
)

In [267]:
def get_relevant_merchants(query, k=20):
    query_vec = model.encode([clean_text(query)]).tolist()

    result = merchant_description_collection.query(
        query_embeddings=query_vec,
        n_results=k,
        include=["documents", "distances"]
    )

    merchants = result['documents'][0]
    scores = result['distances'][0]
    return merchants, scores

In [255]:
# Group descriptions and map them to the most common merchant
desc_to_merchant = (
    df[~df['merchant'].isna()]
    .groupby('desc')['merchant']
    .agg(lambda x: x.mode().iloc[0])  # Most common merchant
    .to_dict()
)

In [268]:
def search_merchants_and_fill(query, top_k=10):
    query_vec = model.encode([clean_text(query)]).tolist()

    result = merchant_description_collection.query(
        query_embeddings=query_vec,
        n_results=top_k,
        include=["documents", "distances"]
    )

    merchants = result['documents'][0]
    distances = result['distances'][0]

    return merchants, distances

In [271]:
search_merchants_and_fill("cabs")

(['freddys freddys  cabot ar ',
  'mcdonalds mcdonalds f cabazon ca ',
  ' b cabs home franois ciara id ',
  ' highway pickers',
  'la cabana dbt crd la cabana mexican rest washington ga dswyvg card  ',
  ' nachos truck',
  ' hwy truck st',
  ' jack in the box  mesquite tx ',
  'stripes stripes ',
  'wendys pos deb    wendy s   railroad ave rifle        co c '],
 [0.9545683264732361,
  0.9833301305770874,
  1.0106351375579834,
  1.0263371467590332,
  1.0896679162979126,
  1.0976074934005737,
  1.1003589630126953,
  1.115720510482788,
  1.1243226528167725,
  1.1261675357818604])

---

## 3. Vectorizing separately to not mix up semantics

**Issue Previously:**
1. Vectorizing combined values when search gives up noises

**Solutions:**
1. Vectorize and perform search separately.
2. Combine both based on scores and give the results.

**Issue**: Not vectorizing catergory along with merchant causing significant loss in relevant search results. \
**Solution**: Combine `cat` and `merchant`

In [358]:
dfs = pd.read_csv("data.csv")

dfs['desc'] = dfs['desc'].fillna('')
dfs['merchant_cat'] = dfs['merchant'].fillna('') + ' ' + dfs['cat'].fillna('')

dfs['desc_clean'] = dfs['desc'].apply(clean_text)
dfs['merchant_cat_clean'] = dfs['merchant_cat'].apply(clean_text)

desc = dfs['desc_clean'].unique()
merchant_cat = dfs['merchant_cat_clean'].unique()

desc_embeddings = model.encode(desc, show_progress_bar=True).astype('float32')
merchant_cat_embeddings = model.encode(merchant_cat, show_progress_bar=True).astype('float32')

np.save("desc_embeddings.npy", desc_embeddings)
np.save("merchant_cat_embeddings.npy", merchant_cat_embeddings)

Batches: 100%|██████████| 1648/1648 [04:06<00:00,  6.68it/s]
Batches: 100%|██████████| 131/131 [00:13<00:00,  9.67it/s]

In [360]:
client = chromadb.Client()
desc_collection = client.get_or_create_collection("desc_embeddings")
merchant_cat_collection = client.get_or_create_collection("merchant_cat_embeddings")


batch_add_to_chroma(
    desc_collection,
    desc.tolist(),
    desc_embeddings,
    [str(i) for i in range(len(desc))]
)

batch_add_to_chroma(
    merchant_cat_collection,
    merchant_cat.tolist(),
    merchant_cat_embeddings,
    [str(i) for i in range(len(merchant_cat))]
)

In [377]:
def search(dfs, query, top_k=20):
    query_vec = model.encode([clean_text(query)]).tolist()

    # Perform independent searches
    merc_cat_result = merchant_cat_collection.query(
        query_embeddings=query_vec, n_results=top_k, include=["documents"]
    )
    desc_result = desc_collection.query(
        query_embeddings=query_vec, n_results=top_k, include=["documents"]
    )

    # Extract unique results
    merc_cat_docs = set(merc_cat_result['documents'][0])
    desc_docs = set(desc_result['documents'][0])

    # Simple union of both sets
    # all_docs = list(merc_cat_docs.union(desc_docs))
    return dfs[dfs['merchant_cat_clean'].isin(merc_cat_docs) | dfs['desc_clean'].isin(desc_docs)]

In [327]:
def search(query, top_k=20, merchant_weight=0.5):
    query_vec = model.encode([clean_text(query)]).tolist()

    merc_result = merchant_collection.query(query_embeddings=query_vec, n_results=top_k, include=["documents", "distances"])
    desc_result = desc_collection.query(query_embeddings=query_vec, n_results=top_k, include=["documents", "distances"])
    
    m_hits = {doc: 1 - dist * merchant_weight for doc, dist in zip(merc_result['documents'][0], merc_result['distances'][0])}
    d_hits = {doc: 1 - dist * (1 - merchant_weight) for doc, dist in zip(desc_result['documents'][0], desc_result['distances'][0])}

    # Combine scores
    combined_scores = {}
    for doc in set(m_hits.keys()).union(d_hits.keys()):
        combined_scores[doc] = m_hits.get(doc, 0) + d_hits.get(doc, 0)

    # Sort and return top combined results
    sorted_combined = sorted(combined_scores.items(), key=lambda x: x[1], reverse=True)
    return sorted_combined[:top_k]

In [339]:
def get_matching_transactions(combined_hits):
    merchants = set()
    descs = set()
    for doc, _ in combined_hits:
        if doc in dfc['merchant'].values:
            merchants.add(doc)
        if doc in dfc['desc'].values:
            descs.add(doc)
    return dfc[dfc['merchant'].isin(merchants) | dfc['desc'].isin(descs)]

In [378]:
s_res = search(dfs[dfs['cat'] == "Travel"], query="How much did I spend on cabs?")

In [375]:
print("Unique merchants: ", s_res.merchant.unique())
# print("Unique descriptions: ", res.desc.unique())
print("Unique categories: ", s_res.cat.unique())

Unique merchants:  ['Uber' 'CREDIT']
Unique categories:  ['Travel']

---

## 4. Using `clnt_id` and `cat` as metadata to get the right subset

In [390]:
dfm = pd.read_csv("data.csv")

dfm = dfm.dropna(subset=['clnt_id', 'desc'])

dfm['desc_clean'] = dfm['desc'].apply(clean_text)

unique_desc_by_clnt = dfm.drop_duplicates(subset=['clnt_id', 'desc_clean'])

In [ ]:
client = chromadb.Client()
collection = client.get_or_create_collection("txn_collection")
docs = unique_desc_by_clnt['desc_clean'].tolist()
embeddings = model.encode(docs, show_progress_bar=True).astype('float32')
ids = [str(i) for i in range(len(docs))]
metadata = unique_desc_by_clnt[['clnt_id', 'cat']].to_dict(orient='records')

In [402]:
def batch_add_to_chroma_meta(collection, documents, embeddings, ids, metadatas, batch_size=1000):
    for i in range(0, len(documents), batch_size):
        collection.add(
            documents=documents[i:i+batch_size],
            embeddings=embeddings[i:i+batch_size],
            ids=ids[i:i+batch_size],
            metadatas=metadatas[i:i+batch_size]
        )

batch_add_to_chroma_meta(
    collection,
    docs,
    embeddings,
    ids,
    metadata
)

In [427]:
def search(df, query, client_id, category=None, top_k=100):
    where = {'$and': [{'clnt_id': {'$eq': client_id}},
    {'cat': {'$eq': category}}]}

    query_vec = model.encode([clean_text(query)]).tolist()
    result = collection.query(
        query_embeddings=query_vec,
        n_results=top_k,
        include=["documents"],
        where=where
    )

    docs = set(result['documents'][0])

    return df[(df['desc_clean'].isin(docs)) & (df['clnt_id'] == client_id) & (df['cat'] == category)]

In [428]:
res = search(dfm, "what are my spending on cabs?", 880, "Travel")
res

,clnt_id,bank_id,acc_id,txn_id,txn_date,desc,amt,cat,merchant,desc_clean
24604,880,899,1033,6708,17/07/2023 0:00,Green Dot Bank Transfer,-2.000,Travel,NaN,green dot bank transfer
24605,880,148,166,32792,03/07/2023 0:00,From Maryse Hemant 3168 ShareFunds Transfer vi...,1.000,Travel,NaN,from maryse hemant sharefunds transfer via mo...
24606,880,176,196,40975,05/09/2023 0:00,Visa Direct Card 6643uber,0.430,Travel,Uber,visa direct card uber
24612,880,204,230,66040,05/06/2023 0:00,Zelle payment to Maryse Hemant JPM999xj8lkd,-6.000,Travel,Zelle,zelle payment to maryse hemant jpmxjlkd
24614,880,607,699,48468,10/08/2023 19:00,Weirdo #Rr,-6.762,Travel,NaN,weirdo rr
...,...,...,...,...,...,...,...,...,...,...
24712,880,195,217,17163,27/09/2023 0:00,Cash App*Maryse Hemant*A,-40.000,Travel,CASH APP,cash appmaryse hemanta
24715,880,527,603,47711,05/09/2023 0:00,Maryse Hemant PAYMENT ID BBT191713026 ZELLE PA...,-17.000,Travel,Zelle,maryse hemant payment id bbt zelle payment to
24716,880,592,681,59715,28/09/2023 0:00,Uber 09/28 #3168 PMNT RCVD Uber VISA DIRECT WI,0.696,Travel,Uber,uber pmnt rcvd uber visa direct wi
24717,880,592,681,151943,09/08/2023 0:00,Uber 08/09 #3168 PMNT RCVD Uber VISA DIRECT WI,0.830,Travel,Uber,uber pmnt rcvd uber visa direct wi
24718,880,504,575,83826,05/06/2023 0:00,Zelle payment to Maryse Hemant JPM999xj8lkd,-6.000,Travel,Zelle,zelle payment to maryse hemant jpmxjlkd

---

## 4. Using **Qdrant** for threshold-score

In [1]:
import numpy as np
import pandas as pd
from utils import clean_text
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('all-MiniLM-L6-v2')

df = pd.read_csv("data.csv")
df = df.dropna(subset=['clnt_id', 'desc'])
df['desc_clean'] = df['desc'].apply(clean_text) 

unique_desc_by_clnt = df.drop_duplicates(subset=['clnt_id', 'desc_clean'])
unique_desc_by_clnt = unique_desc_by_clnt.reset_index(drop=True)
docs = unique_desc_by_clnt['desc_clean'].tolist()

c:\Users\edsol\Desktop\bank-transaction-agent\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
embeddings = model.encode(docs, show_progress_bar=True).astype('float32')
np.save("qdrant_embeddings.npy", embeddings)

In [2]:
embeddings = np.load("qdrant_embeddings.npy")

In [3]:
from qdrant_client import QdrantClient
from qdrant_client.models import VectorParams, Distance, PointStruct

client = QdrantClient(path="qdrant_db")

client.create_collection(
    collection_name="transactions",
    vectors_config=VectorParams(size=len(embeddings[0]), distance=Distance.COSINE),
)

True

In [5]:
payloads = unique_desc_by_clnt[['desc_clean', 'clnt_id', 'cat']].to_dict(orient='records')
ids = list(range(len(embeddings)))

client.upload_collection(
    collection_name="transactions",
    vectors=embeddings,
    payload=payloads,
    ids=ids,
    batch_size=1000,
    parallel=4
)

KeyboardInterrupt:

In [437]:
from qdrant_client.models import Filter, FieldCondition, MatchValue

def search_qdrant(query, client_id, category=None, top_k=100, score_threshold=0.5):
    query_vec = model.encode([clean_text(query)]).tolist()

    conditions = [FieldCondition(key="clnt_id", match=MatchValue(value=client_id))]

    if category:
        conditions.append(FieldCondition(key="cat", match=MatchValue(value=category)))
        
    query_filter = Filter(must=conditions)

    result = client.search(
        collection_name="transactions",
        query_vector=query_vec,
        query_filter=query_filter,
        limit=top_k,
        score_threshold=score_threshold,
        with_payload=True
    )

    return result

In [438]:
results = search_qdrant("how much on cab rides", client_id=880, category="Travel", score_threshold=0.75)
for r in results:
    print(r.payload["desc_clean"], r.score)

C:\Users\edsol\AppData\Local\Temp\ipykernel_31624\653382162.py:21: DeprecationWarning: `search` method is deprecated and will be removed in the future. Use `query_points` instead.
  result = client.search(

ValueError: Multivector  is not found in the collection

---

## 5. Trying out the DataLoader class

In [18]:
%load_ext autoreload
%autoreload 2

In [1]:
from vector_store import VectorStore

c:\Users\edsol\Desktop\bank-transaction-agent\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import pandas as pd
data = pd.read_csv('data.csv')

In [4]:
store = VectorStore()
store.load_data("data.csv")

In [69]:
results = store.search("uber", client_id=880, category="Travel", k=200)

In [70]:
results

,clnt_id,bank_id,acc_id,txn_id,txn_date,desc,amt,cat,merchant,combined
10237,880,899,1033,6708,17/07/2023 0:00,Green Dot Bank Transfer,-2.000,Travel,,green dot bank transfer
10238,880,148,166,32792,03/07/2023 0:00,From Maryse Hemant 3168 ShareFunds Transfer vi...,1.000,Travel,,from maryse hemant 3168 sharefunds transfer vi...
10239,880,176,196,40975,05/09/2023 0:00,Visa Direct Card 6643uber,0.430,Travel,Uber,visa direct card 6643uber uber
10240,880,204,230,66040,05/06/2023 0:00,Zelle payment to Maryse Hemant JPM999xj8lkd,-6.000,Travel,Zelle,zelle payment to maryse hemant jpm999xj8lkd zelle
10241,880,607,699,48468,10/08/2023 19:00,Weirdo #Rr,-6.762,Travel,,weirdo rr
...,...,...,...,...,...,...,...,...,...,...
10297,880,969,1107,117960,07/08/2023 0:00,Uber 08/06 #3168 PMNT RCVD Uber San Francisco ...,0.604,Travel,Uber,uber 0806 3168 pmnt rcvd uber san francisco ca...
10298,880,199,224,173908,18/07/2023 0:00,76 - CF UNITED LLC 270 LOS Maryse HemantES CA ...,-1.000,Travel,CF UNITED LLC,76 cf united llc 270 los maryse hemantes ca 0...
10299,880,527,603,47711,05/09/2023 0:00,Maryse Hemant PAYMENT ID BBT191713026 ZELLE PA...,-17.000,Travel,Zelle,maryse hemant payment id bbt191713026 zelle pa...
10300,880,592,681,59715,28/09/2023 0:00,Uber 09/28 #3168 PMNT RCVD Uber VISA DIRECT WI,0.696,Travel,Uber,uber 0928 3168 pmnt rcvd uber visa direct wi uber
10301,880,592,681,151943,09/08/2023 0:00,Uber 08/09 #3168 PMNT RCVD Uber VISA DIRECT WI,0.830,Travel,Uber,uber 0809 3168 pmnt rcvd uber visa direct wi uber

In [71]:
results = store.semantic_search("uber", client_id=880, category="Travel", max_k=200, threshold=0.00)

In [73]:
results

,clnt_id,bank_id,acc_id,txn_id,txn_date,desc,amt,cat,merchant,combined
10258,880,592,681,11541,18/09/2023 0:00,Uber 09/18 #3168 PMNT RCVD Uber VISA DIRECT WI,0.530,Travel,Uber,uber 0918 3168 pmnt rcvd uber visa direct wi uber
10259,880,274,310,91244,14/06/2023 0:00,Uber San Francisco CA 06/14,0.630,Travel,Uber,uber san francisco ca 0614 uber
10272,880,592,681,5583,14/08/2023 0:00,Uber 08/13 #3168 PMNT RCVD Uber VISA DIRECT WI,0.430,Travel,Uber,uber 0813 3168 pmnt rcvd uber visa direct wi uber
10273,880,592,681,52195,21/09/2023 0:00,Uber 09/21 #3168 PMNT RCVD Uber VISA DIRECT WI,0.952,Travel,Uber,uber 0921 3168 pmnt rcvd uber visa direct wi uber
10274,880,592,681,140013,06/09/2023 0:00,Uber 09/06 #3168 PMNT RCVD Uber VISA DIRECT WI,0.630,Travel,Uber,uber 0906 3168 pmnt rcvd uber visa direct wi uber
10276,880,80,87,95862,03/07/2023 0:00,PURCHASE 0702 UBER 7ELEVEN1140 HELP.UBER.COMCA...,-0.400,Travel,Uber,purchase 0702 uber 7eleven1140 helpubercomca 3...
10282,880,592,681,43932,19/09/2023 0:00,Uber 09/19 #3168 PMNT RCVD Uber VISA DIRECT WI,0.712,Travel,Uber,uber 0919 3168 pmnt rcvd uber visa direct wi uber
10285,880,969,1107,146823,09/08/2023 0:00,Uber 08/09 #3168 PMNT RCVD Uber San Francisco ...,0.842,Travel,Uber,uber 0809 3168 pmnt rcvd uber san francisco ca...
10286,880,969,1107,87317,01/09/2023 0:00,Uber 08/31 #3168 PMNT RCVD Uber San Francisco ...,0.892,Travel,Uber,uber 0831 3168 pmnt rcvd uber san francisco ca...
10291,880,592,681,89894,27/06/2023 0:00,Uber 06/27 #3168 PMNT RCVD Uber VISA DIRECT WI,0.230,Travel,Uber,uber 0627 3168 pmnt rcvd uber visa direct wi uber
10292,880,592,681,50758,26/09/2023 0:00,Uber 09/26 #3168 PMNT RCVD Uber VISA DIRECT WI,0.430,Travel,Uber,uber 0926 3168 pmnt rcvd uber visa direct wi uber
10297,880,969,1107,117960,07/08/2023 0:00,Uber 08/06 #3168 PMNT RCVD Uber San Francisco ...,0.604,Travel,Uber,uber 0806 3168 pmnt rcvd uber san francisco ca...
10300,880,592,681,59715,28/09/2023 0:00,Uber 09/28 #3168 PMNT RCVD Uber VISA DIRECT WI,0.696,Travel,Uber,uber 0928 3168 pmnt rcvd uber visa direct wi uber
10301,880,592,681,151943,09/08/2023 0:00,Uber 08/09 #3168 PMNT RCVD Uber VISA DIRECT WI,0.830,Travel,Uber,uber 0809 3168 pmnt rcvd uber visa direct wi uber

---

## 6. Using SQLite instead of loading with Pandas Library

In [2]:
import sqlite3
import pandas as pd
import chromadb
from sentence_transformers import SentenceTransformer
from more_itertools import batched
from utils import clean_text

In [3]:
df = pd.read_csv("data.csv")
df["uid"] = df.index
df["txn_date"] = pd.to_datetime(df["txn_date"], format="%d/%m/%Y %H:%M").dt.strftime("%Y-%m-%d")

In [4]:
conn = sqlite3.connect('transactions.db')
cur = conn.cursor()
cur.execute("CREATE TABLE transactions (uid INTEGER PRIMARY KEY, clnt_id INTEGER, bank_id INTEGER, acc_id INTEGER, txn_id INTEGER, txn_date TEXT, desc TEXT, amt REAL, cat TEXT, merchant TEXT)")

In [5]:
df.to_sql("transactions", conn, if_exists="replace", index=False)

257063

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257063 entries, 0 to 257062
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   clnt_id   257063 non-null  int64
 1   bank_id   257063 non-null  int64
 2   acc_id    257063 non-null  int64
 3   txn_id    257063 non-null  int64
 4   txn_date  257063 non-null  object
 5   desc      257063 non-null  object
 6   amt       257063 non-null  float64
 7   cat       257063 non-null  object
 8   merchant  132182 non-null  object
 9   uid       257063 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 19.6+ MB

In [4]:
df['merchant'] = df.merchant.fillna('')
df['desc'] = df.desc.fillna('')
df['combined'] = df.apply(lambda row: clean_text(row["desc"]) + " " + clean_text(row["merchant"]), axis=1)
df = df.drop_duplicates(subset=['combined'])
texts = df['combined'].tolist()
ids = df['uid'].astype(str).tolist()
metadatas = [{"client_id": clnt} for clnt in df["clnt_id"]]

In [5]:
len(ids)

54202

In [7]:
model = SentenceTransformer("all-MiniLM-L6-v2")
chroma_client = chromadb.PersistentClient(path="./chroma_store")
collection = chroma_client.get_or_create_collection(name="transactions")

In [7]:
vectors = model.encode(texts, normalize_embeddings=True, show_progress_bar=True).tolist()

Batches: 100%|██████████| 1694/1694 [05:54<00:00,  4.78it/s]

In [8]:
for batch in batched(zip(ids, texts, vectors, metadatas), 500):
    b_ids, b_docs, b_vecs, b_meta = zip(*batch)
    collection.add(
        ids=list(b_ids),
        documents=list(b_docs),
        embeddings=list(b_vecs),
        metadatas=list(b_meta)
    )

In [8]:
def get_vector_matched_uids(query: str, client_id: int, model, collection, top_k: int = 100) -> list[int]:
    """
    Perform vector search for a given query and client_id.
    Returns a list of matched uids (as integers).
    """
     
    # Encode the query
    vector = model.encode([query], normalize_embeddings=True).tolist()

    # Perform ChromaDB vector search with client_id filter
    result = collection.query(
        query_embeddings=vector,
        n_results=top_k,
        where={"client_id": client_id},
        include=["documents"]
    )

    # Return list of matched uids as integers
    return list(map(int, result["ids"][0]))

In [10]:
def get_unique_merchants_and_descriptions(uids: list[int], db_path: str = "transactions.db") -> dict:
    if not uids:
        return {"merchants": [], "descriptions": []}

    placeholders = ",".join("?" for _ in uids)
    conn = sqlite3.connect(db_path)

    query = f"""
        SELECT desc, merchant
        FROM transactions
        WHERE uid IN ({placeholders})
    """
    df = pd.read_sql_query(query, conn, params=uids)
    conn.close()

    merchants = df["merchant"].dropna().str.lower().str.strip().unique().tolist()
    descriptions = df["desc"].dropna().str.lower().str.strip().unique().tolist()

    return {
        "merchants": merchants,
        "descriptions": descriptions
    }

In [11]:
res = get_vector_matched_uids("uber ride", 880, model=model, collection=collection)

In [14]:
res2 = get_unique_merchants_and_descriptions(res, db_path='transactions.db')

In [16]:
res2['descriptions']

['roblox 1.888.858.',
 'apple.com/bill 1036 ca 06/30',
 'mobile purchase 0927 route 17 nissan hasbrouck heinj 31683168',
 'apple.com/bill 1036 ca               06/02',
 "o'reilly auto 07/14 #3168 mobile purchase o'reilly auto p arlington tx",
 "o'reilly auto 06/06 #3168 mobile purchase o'reilly auto par whittier ca",
 'autozone 1770 15427 s brookpark oh 1036',
 'apple.com/bill',
 'amazon prime*ev8o972 amzn.com/bill wa        06/08',
 'journeys #0905 08/27 #3168 purchase journeys #0905 mcallen tx',
 'journeys kidz 057199a',
 'journeys kidz',
 '3168 check purchase 07/16 sq *journeys pla socorro nm 3168 3168',
 'mobile purchase 0703 journeys #1265 jersey city nj 31683168',
 'destination xl #9390 cedar hill tx',
 'purchase                                authorized on   07/15 journeys kidz #           albuquerque       p000000772850746   111',
 'purchase                                authorized on   07/16 journeys #1178            albuquerque   nm  s303197840904091   111',
 'journeys',
 'pos debit-    2873 2873 journeys #08044 brooklyn  us',
 'purchase authorized on 06/29 journeys kidz # amarillo p000000075841217 111',
 'withdrawal journeys 1036 / premium outlets dr monroe oh #3168',
 'withdrawal marshalls #1036 / old troy pike huber heights oh #3168',
 'mobile purchase 0617 auto wash express- ina tucson az 31683168',
 'visa direct card 6643uber',
 'uber 09/18 #3168 pmnt rcvd uber visa direct wi',
 'uber san francisco ca 06/14',
 'purchase 0702 uber 7eleven1140 help.uber.comca 31683168',
 'uber 08/09 #3168 pmnt rcvd uber san francisco ca ckcd 3168',
 "scooter's coffee #1194 louisville ky 09/09",
 'lavista road f 09/01 #3168 mobile purchase lavista road fo tucker ga',
 "scooter's coffee",
 'sonic drive in #3426 phenix city al',
 'sonic drive in #1999 el paso tx 09/22',
 'sonic drive in #1053 deer park tx 07/30',
 'lavista road f 08/23 #3168 mobile purchase lavista road fo tucker ga',
 "checkcard  0819 scooter's coffee                            tomball      tx 31683168",
 "mobile purchase 0915  scooter's maryse hemantspring       tx 31683168",
 'sonic drive in #5736 austin tx',
 'sonic drive in #5925 country club il 06/04',
 'lavista road f 09/27 #3168 mobile purchase lavista road fo tucker ga',
 'scooters coffee',
 'pos debit-    5296 5296 jack in the box 33 apple valley ca',
 "pos debit-    3863 3863 scooter's coffee # appleton wi",
 "scooter's coffee #1721 madison in 09/10",
 "scooter's coffee #156 pleasant hill ia",
 'withdrawal debit chip / raising canes 0781 huber heights oh date 06/13/23 24692163165109160075593',
 'sonic drive in#1560 austin tx',
 'check111',
 'aldi',
 'aldi 68077 tinley park tinley park il 08/25',
 'pos debit-    5296 5296 wal-mart #2333 apple valley  us',
 'aldi 73054 derby ct 06/09',
 'aldi 72034 08/26 #31683168 mobile purchase aldi 72034 urbandale ia',
 'little road foo',
 'wal-mart #0991 mobile al',
 'wal-mart super center4657mobile al',
 'aldi 62008 chicago il',
 'withdrawal target t-1129 5700 / executive blvd huber heights oh #3168',
 'aldi 79158 phoenix phoenix az 1036',
 'pos debit-    5296 5296 grand market apple valley ca',
 'aldi.us',
 'aldi 60054        philadelphia p',
 'kwik trip',
 'zip.co* quadpay anywhe164-3168',
 'pos debit-    0096 0096 kwik trip  4300000 ashwaubenon wi',
 'kwik trip 187 madison wi 1036',
 "love's travel stops",
 'in *travel & naturexeter       n',
 'pos debit-    2257 2257 kwik trip 887 appleton wi us',
 'pos debit-    0096 0096 kwik trip  6610000 monroe wi',
 'kwik trip 1392 7002 sauk trail rd sheboygan      wius',
 'pos debit-    5425 5425 kwik trp 228 appleton wi us',
 'pos debit-    2257 2257 kwik trip  8830000 neenah wi',
 'pos debit-    0096 0096 kwik trip  1750000 appleton wi',
 'withdrawal / 001 kennewick wa kennewick truck sto 5542',
 'kwik trip 1270     ashwaubenon    wius',
 'kwik trip 430      ashwaubenon    wius',
 "pos debit-    3863 3863 love's #488 bloomsdale mo",
 'pos debit-    2257 2257 kwik trip 921 friendship wi us',
 'kwik trip 139      sheboygan      wius',
 'alon dk # 5401 gateway el paso tx 09/17',
 "love's #287 van, tx, usa",
 'kwik-trip          brillion       wius',
 "love's #230 lost hills ca 1036",
 'marathon 8001 huber heights oh',
 'zip.co* quadpay anywhe 1036',
 "pos debit-    3863 3863 love's 867 normal il",
 'pos debit-    2257 2257 kwik trip 430 ashwaubenon wi us',
 'pos debit-    5425 5425 kwik-trip monroe wi us',
 'apple com vsapur 013196       one apple park way 1901       maryse hemant ca 1036',
 'apple com posrec 3168 one apple park way 0816       maryse hemant ca 1036',
 'mobile purchase 0724 nnt truck 9 north arlingtnj',
 'capital one auto carpay',
 'in *safe auto trucking 1036 pa 08/28',
 'highway pickers',
 'capital one auto',
 'capital one auto carpay ***********9985',
 'apple valley 1036 pa',
 'apple com posrec 3168 one apple park way 1901       maryse hemant ca 072823 212109',
 'shop n drive']

In [18]:
import numpy as np
np.save("data_embeddings.npy", vectors)

### Testing VectorStore class

In [1]:
%load_ext autoreload
%autoreload 2

In [17]:
from vector_store import VectorStore

store = VectorStore()

In [18]:
res = store.get_unique_merchants_and_descriptions("uber ride", client_id=880)

In [20]:
print(res)

{'merchants': ['roblox', 'apple', "o'reilly auto", 'autozone', 'amazon', 'journeys', 'journeys kidz', 'destination xl', 'uber', 'auto wash express', 'lavista road furn', 'sonic', 'lavista road f', 'lavista road', 'scooters coffee', 'aldi', 'wal-mart', 'apple valley', 'kwik trip', 'quadpay', "love's travel stop", 'travel & naturexeter', 'kennewick truck', 'alon'], 'descriptions': ['roblox 1.888.858.', 'apple.com/bill 1036 ca 06/30', 'mobile purchase 0927 route 17 nissan hasbrouck heinj 31683168', 'apple.com/bill 1036 ca               06/02', "o'reilly auto 07/14 #3168 mobile purchase o'reilly auto p arlington tx", "o'reilly auto 06/06 #3168 mobile purchase o'reilly auto par whittier ca", 'autozone 1770 15427 s brookpark oh 1036', 'apple.com/bill', 'amazon prime*ev8o972 amzn.com/bill wa        06/08', 'journeys #0905 08/27 #3168 purchase journeys #0905 mcallen tx', 'journeys kidz 057199a', 'journeys kidz', '3168 check purchase 07/16 sq *journeys pla socorro nm 3168 3168', 'mobile purchase 0703 journeys #1265 jersey city nj 31683168', 'destination xl #9390 cedar hill tx', 'purchase                                authorized on   07/15 journeys kidz #           albuquerque       p000000772850746   111', 'purchase                                authorized on   07/16 journeys #1178            albuquerque   nm  s303197840904091   111', 'journeys', 'pos debit-    2873 2873 journeys #08044 brooklyn  us', 'purchase authorized on 06/29 journeys kidz # amarillo p000000075841217 111', 'withdrawal journeys 1036 / premium outlets dr monroe oh #3168', 'withdrawal marshalls #1036 / old troy pike huber heights oh #3168', 'mobile purchase 0617 auto wash express- ina tucson az 31683168', 'visa direct card 6643uber', 'uber 09/18 #3168 pmnt rcvd uber visa direct wi', 'uber san francisco ca 06/14', 'purchase 0702 uber 7eleven1140 help.uber.comca 31683168', 'uber 08/09 #3168 pmnt rcvd uber san francisco ca ckcd 3168', "scooter's coffee #1194 louisville ky 09/09", 'lavista road f 09/01 #3168 mobile purchase lavista road fo tucker ga', "scooter's coffee", 'sonic drive in #3426 phenix city al', 'sonic drive in #1999 el paso tx 09/22', 'sonic drive in #1053 deer park tx 07/30', 'lavista road f 08/23 #3168 mobile purchase lavista road fo tucker ga', "checkcard  0819 scooter's coffee                            tomball      tx 31683168", "mobile purchase 0915  scooter's maryse hemantspring       tx 31683168", 'sonic drive in #5736 austin tx', 'sonic drive in #5925 country club il 06/04', 'lavista road f 09/27 #3168 mobile purchase lavista road fo tucker ga', 'scooters coffee', 'pos debit-    5296 5296 jack in the box 33 apple valley ca', "pos debit-    3863 3863 scooter's coffee # appleton wi", "scooter's coffee #1721 madison in 09/10", "scooter's coffee #156 pleasant hill ia", 'withdrawal debit chip / raising canes 0781 huber heights oh date 06/13/23 24692163165109160075593', 'sonic drive in#1560 austin tx', 'check111', 'aldi', 'aldi 68077 tinley park tinley park il 08/25', 'pos debit-    5296 5296 wal-mart #2333 apple valley  us', 'aldi 73054 derby ct 06/09', 'aldi 72034 08/26 #31683168 mobile purchase aldi 72034 urbandale ia', 'little road foo', 'wal-mart #0991 mobile al', 'wal-mart super center4657mobile al', 'aldi 62008 chicago il', 'withdrawal target t-1129 5700 / executive blvd huber heights oh #3168', 'aldi 79158 phoenix phoenix az 1036', 'pos debit-    5296 5296 grand market apple valley ca', 'aldi.us', 'aldi 60054        philadelphia p', 'kwik trip', 'zip.co* quadpay anywhe164-3168', 'pos debit-    0096 0096 kwik trip  4300000 ashwaubenon wi', 'kwik trip 187 madison wi 1036', "love's travel stops", 'in *travel & naturexeter       n', 'pos debit-    2257 2257 kwik trip 887 appleton wi us', 'pos debit-    0096 0096 kwik trip  6610000 monroe wi', 'kwik trip 1392 7002 sauk trail rd sheboygan      wius', 'pos debit-    5425 5425 kwik trp 228 appleton wi us', 'pos debit-    2257 2257 kwik trip  8830000 neenah wi', 'pos debit-    0096 0096 kwik trip  1750000 appleton wi', 'withdrawal / 001 kennewick wa kennewick truck sto 5542', 'kwik trip 1270     ashwaubenon    wius', 'kwik trip 430      ashwaubenon    wius', "pos debit-    3863 3863 love's #488 bloomsdale mo", 'pos debit-    2257 2257 kwik trip 921 friendship wi us', 'kwik trip 139      sheboygan      wius', 'alon dk # 5401 gateway el paso tx 09/17', "love's #287 van, tx, usa", 'kwik-trip          brillion       wius', "love's #230 lost hills ca 1036", 'marathon 8001 huber heights oh', 'zip.co* quadpay anywhe 1036', "pos debit-    3863 3863 love's 867 normal il", 'pos debit-    2257 2257 kwik trip 430 ashwaubenon wi us', 'pos debit-    5425 5425 kwik-trip monroe wi us', 'apple com vsapur 013196       one apple park way 1901       maryse hemant ca 1036', 'apple com posrec 3168 one apple park way 0816       maryse hemant ca 1036', 'mobile purchase 0724 nnt truck 9 north arlingtnj', 'capital one auto carpay', 'in *safe auto trucking 1036 pa 08/28', 'highway pickers', 'capital one auto', 'capital one auto carpay ***********9985', 'apple valley 1036 pa', 'apple com posrec 3168 one apple park way 1901       maryse hemant ca 072823 212109', 'shop n drive']}

---

### Using Vector search to get the unique `merchant` and `desc` for the LLM to get more feature out of the data